/* DoctorsList.css */
.filter-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .filter-buttons button {
    border-radius: 10px;
    margin: 5px;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .filter-buttons button:hover {
    background-color: #0056b3;
  }
  
  .doctor-card {
    width: 300px;
    height: 200px;
    cursor: pointer;
    border: 1px solid #e8e8eb;
    border-radius: 20px;
    padding: 16px;
    margin: 10px;
    box-shadow: 2px 2px 5px #ccc;
    background-color: #2c3fe7;
  }
  
  .doctor-list {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  