.card-link {
    text-decoration: none;
  }

  .card {

    cursor: pointer;
    width: 400px;
    height: 250px;
    background-color: #1491eb;
    border: 1px solid #ddd;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  
  .card-title {
    font-size: 20px;
    color: #fff;
    font-size: 30px;
    text-align: center;
  }
  